@media only screen and (min-width: 769px) {
  .top-logo {
    animation-name: rotate;
    animation-duration: 2s;
    animation-fill-mode: alternate;
    animation-timing-function: ease-in-out;
  }

  @keyframes rotate {
    from {
      transform: rotate(90deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  .top-heading {
    transition: 0.4s;
  }

  .top-heading:hover {
    transform: translate(20px);
  }

  .heading-description {
    transition: 0.4s;
  }

  .heading-description:hover {
    transform: scale(1.1);
  }

  .work-section1,
  .work-section4,
  .about-langs ul li {
    transition: 0.5s 0.1s;
  }

  .work-langs ul li,
  .menu-links ul li {
    transition: 0.1s;
  }

  .about-frame ul li {
    transition: 0.4s;
  }

  .work-section1:hover,
  .work-section4:hover,
  .about-langs ul li:hover {
    transform: scale(1.1);
  }

  .about-description p,
  .work-paragraph {
    transition: 0.2s;
  }

  .menu-links ul li:hover,
  .about-description p:hover,
  .work-paragraph:hover,
  .work-langs ul li:hover {
    transform: scale(1.1);
  }

  .touch-links h3 a,
  .about-connect h3 a {
    transition: 0.1s;
  }

  .touch-links h3 a:hover,
  .about-connect h3 a:hover {
    color: blue;
  }

  button,
  #send {
    transition: 0.2s;
  }

  button:hover,
  #send:hover {
    background-color: #2230d2;
    transform: scale(1.1);
  }

  .form-description,
  .form-heading,
  h2 {
    transition: 0.4s;
  }

  .form-description:hover,
  .form-heading:hover,
  h2:hover,
  .about-frame ul li:hover {
    transform: translate(20px);
  }
}
