*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}
.box{
    background-color: blueviolet;
    border: 1px solid black;
    width: 200px;
    height: 50vh;
    flex: 1;
}
.container{
    display: flex;
    min-height: 100vh;
}
.one {
flex: 2;
}